.contact_form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    width: 85%;
    height: 70%;

    &__wrapper {
        height: 100vh;
    }

    @media (min-width:640px) {
        width: 75%;
    }

    @media (min-width:800px) {
        width: 70%;
    }

    @media (min-width:1024px) {
        width: 55%;
    }

    @media (min-width:1200px) {
        width: 50%;
    }

    @media (min-width:1330px) {
        width: 40%;
    }

    @media (min-width:1550px) {
        width: 30%;
    }


    &__main_title {
        padding-top: 15px;
        text-align: center;
    }

    &__label {
        margin: 0 auto;
        font-size: $fontSize;
        width: 100%;
        text-align: left;
    }

    &__input {
        display: block;
        font-size: $fontSize;
        padding: 5px;
        margin: 0 auto;
        width: 100%;
    }

    &__message {
        margin: 0 auto;
        display: block;
        padding: 5px;
        width: 100%;
    }

    &__button {
        margin: 15px auto;
        width: 20%;
        font-size: $fontSize*1.0;
        padding: 5px;
        background-color: $color3;
        outline: none;
        border-radius: 5px;
        font-family: 'Oswald',
            sans-serif;
        transition: 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: $color2;
            color: white;
            border: 3px solid $color4;
        }
    }

    &-social_media {
        border: none;
        // position: absolute;
        padding-top: 80px;
        width: 100%;

        @media (min-width:640px) {
            width: 75%;
        }

        @media (min-width:800px) {
            width: 70%;
        }

        @media (min-width:1024px) {
            width: 55%;
        }

        @media (min-width:1200px) {
            width: 50%;
        }

        @media (min-width:1330px) {
            width: 40%;
        }

        @media (min-width:1550px) {
            width: 30%;
        }
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}