$fontSize: 16px;

$color1: rgb(67, 144, 188);
$color2: rgb(104, 67, 202);
$color3: rgb(141, 189, 216);
$color4: rgb(178, 211, 230);


body {
    font-family: 'Oswald',
        sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    font-size: $fontSize;
    overflow-x: hidden;
    max-width: 1600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.social-media {
    font-size: $fontSize * 2.2;
    margin: 0;
    line-height: $fontSize * 2.2;
    text-decoration: none;
    color: white;

    &__link {
        color: white;
    }
}

.writing {
    position: absolute;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.articles {
    // opacity: 0;
    position: relative;
    display: flex;
    background-color: $color4;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 700px;
    margin: 0 auto;

    @media(min-width: 800px) {
        flex-direction: row;
        height: 100%;
    }

    &__img {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}

.article {
    opacity: 0;
    transition: 1.2s linear;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    width: 90%;
    height: 100%;
    box-sizing: content-box;

    @media(min-width: 640px) {
        padding: 15px 25px;
    }
}

// .article:nth-of-type(odd) {
//     left: -100%;
// }

// .article:nth-of-type(even) {
//     right: -100%;
// }

.article--active {
    opacity: 1;
}

.title {
    width: 100%;
    text-align: center;
    line-height: 50%;
    font-size: $fontSize*2;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);
    text-shadow: 1px 1px 5px black;
    color: white;

    @media(min-width: 800px) {
        font-size: $fontSize*1.5;
    }

    @media(min-width: 1024px) {
        font-size: $fontSize*1.9;
    }

    @media(min-width: 1330px) {
        font-size: $fontSize*2.4;
    }
}

.button {
    width: 20%;
    font-family: 'Oswald',
        sans-serif;
    margin: 10px auto;
    text-shadow: 1px 1px 5px black;
    color: white;
    background-color: yellow;
    padding: 5px;
    display: block;
    z-index: 1;
}