@keyframes appear {
    0% {
        opacity: 0
    }

    20% {
        opacity: 0.2
    }

    40% {
        opacity: 0.4
    }

    60% {
        opacity: 0.6
    }

    80% {
        opacity: 0.8
    }


    100% {
        opacity: 1
    }
}


.header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/headerbg.jpg);
    background-size: cover;
    // background-color: green;
    margin-top: 0;
    position: relative;
    animation: appear 2s linear;

    &__social-media {
        position: absolute;
        right: 5vw;
        top: 5vw;

    }

    &__title {
        top: 30%;
        font-size: $fontSize * 2.2;
        // box-shadow: 1px 1px 3px black;
        animation: appear 3s linear;

        @media(min-width: 800px) {
            font-size: $fontSize * 2.5;
        }

        @media(min-width: 1024px) {
            font-size: $fontSize * 3.1;
        }

        @media(min-width: 1330px) {
            font-size: $fontSize * 3.4;
        }
    }

    &__desc {
        top: 50%;
        font-size: $fontSize*1.6;
        animation: appear 3s linear;

        @media(min-width: 800px) {
            font-size: $fontSize * 2.0;
        }

        @media(min-width: 1024px) {
            font-size: $fontSize * 2.6;
        }

        @media(min-width: 1330px) {
            font-size: $fontSize * 3.1;
        }
    }

    &__swipe {
        top: 85%;
        font-size: $fontSize*1.4;
        margin: 0;
        padding: 0;
        // box-shadow: 1px 1px 3px black;
        animation: appear 3s linear;

        @media(min-width: 800px) {
            display: none;
        }



    }

    &__arrow {
        margin: 0;
        padding: 0;
        bottom: 5%;
        font-size: $fontSize*1.25;
        animation: appear 3s linear;

        // box-shadow: 1px 1px 3px black;
        @media(min-width: 800px) {
            display: none;
        }
    }

    &__arrow:nth-of-type(2) {
        transform: translate(-50%, 0%);
    }

    &__arrow:nth-of-type(3) {
        transform: translate(-50%, 50%);
        padding: 0;
        margin: 0;
    }
}