.hamburger {
    position: absolute;
    z-index: 1;
    left: 5vw;
    top: 5vw;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: 1s ease-out;

    @media (min-width: 800px) {
        display: none;
    }

    &__bar {
        width: 100%;
        height: 6px;
        background-color: white;
        transition: 0.5s ease-out;
    }

    &__bar-top {
        transform: translateY(-100%);
    }

    &__bar-top--active {
        transform: translateY(calc(50% + 3px)) rotate(45deg);
        ;
    }

    &__bar-middle--active {
        opacity: 0;
    }

    &__bar-bottom {
        transform: translateY(100%);
    }

    &__bar-bottom--active {
        transform: translateY(calc(-50% - 3px)) rotate(-45deg);
    }
}

.menu {
    // overflow: hidden;
    position: fixed;
    top: 0;
    left: -150px;
    margin-top: 0;
    transition: 1s ease-out;
    z-index: 2;

    @media (min-width: 800px) {
        left: 0;
    }

    &__list {
        position: absolute;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.9);
        width: 150px;
        height: 100vh;
        margin-top: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        @media (min-width: 800px) {
            flex-direction: row;
            height: 7vh;
            width: 100vw;
            flex-basis: 20%;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__list-item {
        text-align: center;

        @media (min-width: 800px) {
            width: 20%;
        }
    }

    &__list-item-link {
        display: block;
        text-decoration: none;
        color: white;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 5px 0;
        margin: 0;
        transition: 0.3s ease-in-out;

        &:hover {
            color: rgba(0, 0, 0, 0.9);
            background-color: white;
            cursor: pointer;
        }

        @media (min-width: 800px) {
            width: 100%;
            font-size: $fontSize * 1.2;
            height: 7vh;

        }

    }

    &__inside-list {
        // display: block;
        color: white;
        list-style: none;
        padding: 0;

    }

    &__inside-list--blog,
    &__inside-list--services {
        display: none;
    }



    &__inside-item-link {

        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 5px 0;
        width: 100%;
        color: white;
        text-decoration: none;

        &:hover {
            color: rgba(0, 0, 0, 0.9);
            background-color: white;
            cursor: pointer;
        }

        @media (min-width: 800px) {
            width: 100%;
            font-size: $fontSize * 1.2;
            // height: 7vh;

        }

    }

    &__list-item-link--active {
        display: block;
    }
}

.menu--active {
    left: 0;
}

.hamburger--active {
    left: 160px;
    position: fixed;
}