* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 12.8px;
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  position: relative;
}

@media (min-width: 800px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 17.6px;
  }
}

.title {
  font-size: 32px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 800px) {
  .title {
    font-size: 27.2px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 32px;
  }
}

.title_1 {
  font-size: 17.6px;
  margin-top: -10px;
}

@media (min-width: 800px) {
  .title_1 {
    font-size: 20.8px;
  }
}

@media (min-width: 1200px) {
  .title_1 {
    font-size: 24px;
  }
}

.button {
  margin: 15px auto;
  width: 20%;
  font-size: 16px;
  padding: 5px;
  background-color: #4b83b1;
  outline: none;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: #6785a1;
  color: white;
  border: 3px solid #556083;
}

.form_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  min-height: calc(100vh - 80px);
}

.menu {
  position: fixed;
  width: 100%;
  background-color: #272637;
  font-family: 'Oswald', sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  font-size: 17.6px;
  z-index: 1;
}

@media (min-width: 800px) {
  .menu {
    font-size: 17.6px;
  }
}

@media (min-width: 1200px) {
  .menu {
    font-size: 19.2px;
  }
}

@media (min-width: 1550px) {
  .menu {
    font-size: 20.8px;
  }
}

.menu__list {
  z-index: 2;
  display: none;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #272637;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (min-width: 800px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .menu__list {
    width: 60%;
  }
}

@media (min-width: 1330px) {
  .menu__list {
    width: 50%;
  }
}

.menu__list--visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 5px;
  top: 60px;
  height: 40px;
  left: 0;
}

@media (min-width: 800px) {
  .menu__list--visible {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__list_item {
  width: 25%;
}

.menu__list_item_link {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.menu__list_item_link:hover {
  color: green;
}

.menu__hamburger {
  margin-right: 30px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  position: relative;
}

.menu__hamburger:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .menu__hamburger {
    display: none;
  }
}

.menu__bar {
  background-color: white;
  width: 30px;
  height: 6px;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu__bar--middle {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__bar--bottom {
  bottom: 0;
}

.menu__bar-rotate-plus {
  -webkit-transform: translateY(200%) rotate(45deg);
          transform: translateY(200%) rotate(45deg);
}

.menu__bar-disappear {
  display: none;
}

.menu__bar-rotate-minus {
  -webkit-transform: translateY(-200%) rotate(-45deg);
          transform: translateY(-200%) rotate(-45deg);
}

.main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  padding-top: 80px;
  width: 100%;
}

@media (min-width: 800px) {
  .main_section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .main_section {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .main_section {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1330px) {
  .main_section {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1550px) {
  .main_section {
    width: 75%;
    margin: 0 auto;
  }
}

.main_section__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

@media (min-width: 800px) {
  .main_section__article {
    width: 60%;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .main_section__article {
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .main_section__article {
    width: 70%;
  }
}

@media (min-width: 1330px) {
  .main_section__article {
    width: 75%;
  }
}

@media (min-width: 1550px) {
  .main_section__article {
    width: 80%;
  }
}

.main_section img {
  width: 100%;
}

.main_section__image {
  background-color: rgba(0, 0, 0, 0.5);
}

.main_section__info {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
}

.main_section__latest {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 800px) {
  .main_section__latest {
    width: 40%;
  }
}

.main_section__article--kitchen {
  padding: 10px 0px;
  width: 100%;
}

.main_section__info--kitchen {
  text-align: center;
}

.main_section__list {
  padding: 10px;
  list-style: none;
  background-color: #46b6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_section__list__item {
  padding: 2px 0px;
}

.social_media {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 3px solid #46b6e6;
  border-bottom: 3px solid #46b6e6;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 10px;
}

@media (min-width: 800px) {
  .social_media {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .social_media {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .social_media {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1330px) {
  .social_media {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 1550px) {
  .social_media {
    width: 75%;
    margin: 0 auto;
  }
}

.social_media__icon {
  font-size: 40px;
}

.social_media__icon--facebook {
  color: #4267b2;
}

.social_media__icon--instagram {
  color: #dd2a7b;
}

.social_media__icon--mail {
  color: #d44538;
}

.calculators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .calculators {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .calculators {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .calculators {
    width: 85%;
  }
}

@media (min-width: 1330px) {
  .calculators {
    width: 80%;
  }
}

@media (min-width: 1550px) {
  .calculators {
    width: 75%;
  }
}

.calculators__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.calculators__image {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.calculators__image:hover {
  cursor: pointer;
}

.calculators__title {
  font-size: 20.8px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 3px black;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .calculators__title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .calculators__title {
    font-size: 25.6px;
  }
}

@media (min-width: 1200px) {
  .calculators__title {
    font-size: 27.2px;
  }
}

@media (min-width: 1330px) {
  .calculators__title {
    font-size: 28.8px;
  }
}

@media (min-width: 1550px) {
  .calculators__title {
    font-size: 32px;
  }
}

.calculators img {
  width: 100%;
}

.BMI__wrapper {
  min-height: calc(100vh - 80px);
}

.BMI__title {
  width: 100%;
  text-align: center;
}

.BMI__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.BMI__label {
  padding: 8px;
  font-size: 17.6px;
  display: block;
  width: 100%;
  text-align: center;
}

.BMI__input {
  display: block;
  margin: 0 auto;
  padding: 8px;
  width: 50%;
  font-size: 16px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1024px) {
  .BMI__input {
    width: 30%;
  }
}

.BMI__button {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120px;
  margin-left: 50%;
}

.BMI__result {
  font-size: 24px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}

.calorie__wrapper {
  height: calc(100vh - 80px);
}

.calorie__title {
  text-align: center;
}

.calorie__input, .calorie__label, .calorie__select {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 8px;
  outline: none;
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1024px) {
  .calorie__input, .calorie__label, .calorie__select {
    width: 400px;
  }
}

.calorie__input {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

.calorie__label {
  font-size: 17.6px;
  text-align: center;
}

.calorie__button {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.calorie__li {
  text-align: center;
}

.newest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 10px auto 20px auto;
}

@media (min-width: 800px) {
  .newest {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .newest {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .newest {
    width: 85%;
  }
}

@media (min-width: 1330px) {
  .newest {
    width: 80%;
  }
}

@media (min-width: 1550px) {
  .newest {
    width: 75%;
  }
}

.newest__desc {
  position: absolute;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media (min-width: 800px) {
  .newest__desc p {
    text-align: left;
    font-size: 12.8px;
  }
}

@media (min-width: 1024px) {
  .newest__desc p {
    font-size: 14.4px;
  }
}

@media (min-width: 1330px) {
  .newest__desc p {
    font-size: 16px;
  }
}

@media (min-width: 1550px) {
  .newest__desc p {
    font-size: 17.6px;
  }
}

.newest__title {
  width: 100%;
  text-align: center;
}

.newest__first-row {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .newest__first-row {
    width: 32%;
    margin: 0;
  }
}

.newest__second-row {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .newest__second-row {
    width: 66%;
    margin: 0;
  }
}

.newest__article--first {
  width: 100%;
  margin: 0 auto;
  height: 200px;
  background-image: url("../images/PhotoGall12.jpg");
}

@media (min-width: 800px) {
  .newest__article--first {
    margin: 0;
  }
}

.newest__article--second {
  width: 49.5%;
  height: 200px;
  background-image: url("../images/PhotoGall6.jpg");
}

.newest__article--third {
  width: 49.5%;
  height: 200px;
  background-image: url("../images/PhotoGall9.jpg");
}

.newest__article {
  background-position: center;
  background-size: cover;
  position: relative;
}

@media (min-width: 1200px) {
  .newest__article {
    height: 250px;
  }
}

@media (min-width: 1330px) {
  .newest__article {
    height: 280px;
  }
}

.footer {
  background-color: #272637;
  font-size: 16px;
  color: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 80px;
}

@media (min-width: 800px) {
  .footer {
    font-size: 17.6px;
  }
}

@media (min-width: 1024px) {
  .footer {
    font-size: 19.2px;
  }
}

@media (min-width: 1200px) {
  .footer {
    font-size: 20.8px;
  }
}

@media (min-width: 1330px) {
  .footer {
    font-size: 22.4px;
  }
}

.articles__main-section {
  padding: 30px;
  padding-top: 70px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .articles__main-section {
    width: 85%;
  }
}

@media (min-width: 800px) {
  .articles__main-section {
    width: 82%;
  }
}

@media (min-width: 1024px) {
  .articles__main-section {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .articles__main-section {
    width: 65%;
  }
}

@media (min-width: 1330px) {
  .articles__main-section {
    width: 68%;
  }
}

@media (min-width: 1400px) {
  .articles__main-section {
    width: 65%;
  }
}

@media (min-width: 1550px) {
  .articles__main-section {
    width: 58%;
  }
}

@media (min-width: 640px) {
  .articles__title {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  .articles__title {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .articles__title {
    font-size: 27.2px;
  }
}

.articles__main_title {
  padding-left: 10px;
  border-bottom: 1px solid black;
}

@media (min-width: 640px) {
  .articles__main_title {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .articles__main_title {
    font-size: 40px;
  }
}

.articles__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px;
}

.articles__info {
  font-size: 10px;
  font-size: 13.6px;
}

@media (min-width: 800px) {
  .articles__info {
    font-size: 16.48px;
  }
}

@media (min-width: 1024px) {
  .articles__info {
    font-size: 17.6px;
  }
}

@media (min-width: 1200px) {
  .articles__info {
    font-size: 18.4px;
  }
}

@media (min-width: 1330px) {
  .articles__info {
    font-size: 19.2px;
  }
}

@media (min-width: 1550px) {
  .articles__info {
    font-size: 20.8px;
  }
}

.articles__img {
  width: 90%;
  padding: 5px;
}

.articles__img img {
  width: 100%;
}

@media (min-width: 800px) {
  .articles__desc {
    padding: 10px 10px 5px 10px;
  }
}

.articles__social_media {
  border: none;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 85%;
}

.contact_form__wrapper {
  min-height: calc(100vh - 80px);
}

@media (min-width: 640px) {
  .contact_form {
    width: 75%;
  }
}

@media (min-width: 800px) {
  .contact_form {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .contact_form {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .contact_form {
    width: 50%;
  }
}

@media (min-width: 1330px) {
  .contact_form {
    width: 40%;
  }
}

@media (min-width: 1550px) {
  .contact_form {
    width: 30%;
  }
}

.contact_form__main_title {
  padding-top: 15px;
  text-align: center;
}

.contact_form__label {
  margin: 0 auto;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.contact_form__input {
  display: block;
  font-size: 16px;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
}

.contact_form__message {
  margin: 0 auto;
  display: block;
  padding: 5px;
  width: 100%;
}

.contact_form__button {
  margin: 15px auto;
  width: 20%;
  font-size: 16px;
  padding: 5px;
  background-color: #4b83b1;
  outline: none;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.contact_form__button:hover {
  cursor: pointer;
  background-color: #6785a1;
  color: white;
  border: 3px solid #556083;
}

.contact_form-social_media {
  border: none;
  padding-top: 70px;
  width: 100%;
}

@media (min-width: 640px) {
  .contact_form-social_media {
    width: 75%;
  }
}

@media (min-width: 800px) {
  .contact_form-social_media {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .contact_form-social_media {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .contact_form-social_media {
    width: 50%;
  }
}

@media (min-width: 1330px) {
  .contact_form-social_media {
    width: 40%;
  }
}

@media (min-width: 1550px) {
  .contact_form-social_media {
    width: 30%;
  }
}

.contact_form__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */